/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  /* Тема задана принудительно при помощи классов */
  --decor-round: transparent; 
  --menu-color: #353430; 
  --text-title: #FFC2E6; 
  --text-title-section: #353430;
  --text-subtitle-section: #353430;
  --background-subtitle-section: #FF8DCB;
  --text-color: #353430;
  --background-img: url(../images/cover-image-light.png);
  --background-color: #fff1f7; /* Цвет фона */
  --border-button: rgba(53,52,48, 0.4);
}

@media (prefers-color-scheme:dark) {
  /* Происходит переключение на светлую тему на уровне операционной системы */
  :root .theme_light {
    --decor-round: transparent; 
  --menu-color: #353430; 
  --text-title: #FFC2E6; 
  --text-title-section: #353430;
  --text-subtitle-section: #353430;
  --background-subtitle-section: #FF8DCB;
  --text-color: #353430;
  --background-img: url(../images/cover-image-light.png);
  --background-color: #fff1f7; /* Цвет фона */
  --border-button: rgba(53,52,48, 0.4);
  }
}


