/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: "IBM Plex mono" ,sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--background-img);
  background-color: var(--background-color);
  position: relative;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--background-subtitle-section);
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--border-button);
}

.header {
  height: 100vh;
  min-height: 768px;
}

.decorated-zone {
  position: relative;
  color: var(--menu-color);
}

/* Общие стили для декоративных уголков */
.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  left: 20px;
  bottom: 20px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.decorated-zone::after {
  right: 20px;
  top: 20px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
}

.decor-element {
  position: absolute;
  align-items: center;
  color: var(--decor-round);
  top: 20px;
  right: 29px;
}

.decor-element::before {
  content: "REC";
  margin-right: 10px;
  display: inline-block;
  font-size: 18px;
  color: currentColor

}

.decor-element::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  box-shadow: 0px 0px 12px 3px currentColor;
  border-radius: 50%;
}

.header__theme-menu {
  margin-left: 20px;
}

.header__theme-menu-list {
  display: flex;
}

.header__theme-menu-item button {
  color: var(--menu-color);
  border: none;
  background: transparent;
  padding: 2px 15px;
}

button.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

button:hover {
  outline: 1px solid var(--border-button);
}

button:focus {
  outline: none;
}

button:focus-visible         {
  border-bottom: 1px solid currentColor;
}

.header__theme-title {
  font-weight: 700;
  color: var(--text-title);
  text-shadow: 4px 4px 0 var(--decor-round);
}

.header__theme-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-subtitle-section);
  background: var(--background-subtitle-section);
}

/*Общие стили для Main*/
.main {
  margin: 60px 0px 60px 0px;
  padding: 0px 20px;
}

.main__theme-section {
  width: 100%;
}

.main__theme-section:not(:last-child) {
  margin-bottom: 80px;
}

.main__theme-section {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}

.main__theme-section-container-card-title {
  color: var(--text-subtitle-section);
  background: var(--background-subtitle-section);
  margin-bottom: 10px;
}

.main__theme-section-container-card-content {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -0.05px;

}

.main__theme-section-container > .main__theme-section-container-card:not(:last-child) {
  margin-bottom: 20px;
}

h4.main__theme-section-container-card-title {
  font-weight: 400;
  line-height: 23px;
}

.two_col_template {
  grid-template-columns: 315px 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.one_col_template {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.main__theme-section-title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--text-title-section);
}

.main__theme-section-container-images {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  column-gap: 20px;
}

img {
  background-size: cover;
}

.img1 {
  background-image: url(../images/sunset.png);
  background-size: contain;
 
}

.img2 {
  background-image: url(../images/ice-cream.png);
  background-position: 50% center;
}

.img3 {
  background-image: url(../images/tape.png);
  background-position: 50% center;
}

.img4 {
  background-image: url(../images/books.png);
  background-size: contain;
}

.img5 {
  background-image: url(../images/street.png);
}

.footer {
  min-height: 768px;
  color: var(--text-title);
}

.footer-text {
  text-align: center;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--decor-round);
}

@media(min-width: 1024px) {
    .page {
      max-width: 1024px;
    }

    .header {
      padding-top: 20px;
      padding-right: 20px;
      min-height: 768px;
    }

    .header__theme-menu-list {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .header__theme-title {
      line-height: 129.53px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      margin-top: 273px;
    }

    .header__theme-text {
      margin-top: 11.3%;
      width: 49%;
      margin-left: auto;
    }

    .main__theme-section-container-card-title {
      letter-spacing: -0.3px;
    }

    .main__theme-section-container-card-title.main__theme-section-container-card {
      letter-spacing: -0.4px;
    }

    .adaptive-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
      column-gap: 20px;
      row-gap: 20px;
    }

    h4.main__theme-section-container-card-title {
      letter-spacing: 1.25px;
    }

    .main__theme-section-title.main__theme-section-container-card-title {
      margin-bottom: 20px;
      letter-spacing: 0.1px;
    }

    .additional-style-section-title {
      width: 315px;
    }

    .img1 {
      grid-column: 1/3;
      grid-row: 1/2;
      height: 260px;
    }
    
    .img2 {
      grid-column: 3/-1;
      grid-row: 1/-2;
      height: 595px;
    }
    
    .img3 {
      grid-column: 1/2;
      grid-row: 2/-1;
      height: 768px;
    }
    
    .img4 {
      grid-column: 2/3;
      grid-row: 2/3;
      height: 315px;
    }
    
    .img5 {
      grid-column: 2/-1;
      grid-row: 3/-1;
      height: 433px;
    }

    .footer {
      padding-top: 31.15%;
      padding-bottom: 31.15%;
      min-height: 768px;
    }

    .footer-text {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      line-height: 129.53px;
      min-height: 1024px;
    }
}

@media(min-width: 768px) and (max-width: 1023px){
  .page {
    max-width: 768px;
  }

  .header {
    padding-top: 190px;
    padding-right: 20px;
    min-height: 768px;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
  }

  .header__theme-title {
    line-height: 99px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 177px;
    letter-spacing: 0.1px;
  }

  .header__theme-text {
    margin-top: 22%;
    width: 49%;
    margin-left: auto;
    letter-spacing: 0px;
    margin-right: -4px;
  }

  .main__theme-section-container_cols {
    display: block;
  }

  .main__theme-section-container-card-title {
    letter-spacing: -0.3px;
  }

  .main__theme-section-container-card-title.main__theme-section-container-card {
    letter-spacing: -0.4px;
  }

  h4.main__theme-section-container-card-title {
    letter-spacing: 1.25px;
  }

  .main__theme-section-title.main__theme-section-container-card-title {
    margin-bottom: 20px;
    letter-spacing: 0.1px;
  }

  .additional-style-section-title {
    width: 236px;
  }

  .break {
    display: block;
  }

  .two_col_template {
    grid-template-columns: 236px 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }

  .img1 {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 192px;
  }
  
  .img2 {
    grid-column: 3/-1;
    grid-row: 1/-2;
    height: 441px;
  }
  
  .img3 {
    grid-column: 1/2;
    grid-row: 2/-1;
    height: 568px;
  }
  
  .img4 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 230px;
  }
  
  .img5 {
    grid-column: 2/-1;
    grid-row: 3/-1;
    height: 318px;
  }

  .footer {
    padding-top: 60.15%;
    padding-bottom: 60.15%;
    min-height: 1024px;
  }

  
  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
}

@media(min-width: 375px) and (max-width: 767px) {
  .page {
    max-width: 375px;
  }

  .decor-element {
    top: 11px;
    right: 17px;
  }
  
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .break {
    display: block;
  }

  .header {
    padding-top: 75px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 668px;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
  }

  .header__theme-title {
    line-height: 95.7px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 68px;
    letter-spacing: -2.5px;
  }

  .header__theme-text {
    margin-top: 57px;
    width: 100%;
    line-height: 24px;
  }

  .main {
    margin: 41px 0px 40px 0px;
    padding: 0px 10px;
  }

  .main__theme-section-container-card-title {
    letter-spacing: -0.3px;
  }

  .main__theme-section-container-card-title.main__theme-section-container-card {
    letter-spacing: -0.4px;
  }

  h4.main__theme-section-container-card-title {
    letter-spacing: 1.25px;
  }

  .main__theme-section-title.main__theme-section-container-card-title {
    margin-bottom: 0px;
    letter-spacing: 0.1px;
  }
  
  .main__theme-section-container > .main__theme-section-container-card:not(:last-child) {
    margin-bottom: 18px;
  }

  .main__theme-section:not(:last-child) {
    margin-bottom: 50px;
  }

  .two_col_template {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .one_col_template {
    grid-template-columns: repeat(1, 1fr);
  }

  .additional-margin > *:not(:last-child) {
    margin-bottom: 20px !important;
  }

  .main__theme-section-container-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 10px;
    column-gap: 10px;
  }

  .img {
    grid-column: 1/-1;
    background-size: contain;
  }

  .img1 {
    grid-row: 2/3;
    height: 142px;
  }
  
  .img2 {
    grid-row: 3/4;
    height: 355px;
  }
  
  .img3 {
    grid-row: 4/5;
    height: 237px;
  }
  
  .img4 {
    grid-row: 5/6;
    height: 355px;
  }
  
  .img5 {
    grid-row: 6/7;
    height: 237px;
  }

  .footer {
    padding-top: 68.27%;
    padding-bottom: 64.27%;
    min-height: 668px;
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
} 