/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  /* Основная тема будет темной */
  --decor-round: #FF0070; /*Цвет круглого элемента* +++                     transparent*/
  --menu-color: #FF0070; /* цвет пунктов меню + декоративные элменты +++    #353430  */
  --text-title: #DB00FF; /*Цвет текста основного заголовка +++              #FFC2E6;  */ 
  --text-title-section: #FF0070; /*  Цвет текста заголовок секций +++       #353430 */
  --text-subtitle-section: #000028;  /* Цвет текста подзаголовка секции     #353430 +++*/
  --background-subtitle-section: #FF0070; /* Цвет фона подзаголовка секции +++ #FF8DCB */
  --text-color: #F1B2CE; /* Цвет основного текста подзаголовка секции +++      #353430*/
  --background: url(../images/cover-image-dark.png);
  /*Нужна переменная для видимости декоративного элемента*/
}
