/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  /* Светлая тема по умолчанию */
  --decor-round: transparent; 
  --menu-color: #353430; 
  --text-title: #FFC2E6; 
  --text-title-section: #353430;
  --text-subtitle-section: #353430;
  --background-subtitle-section: #FF8DCB;
  --text-color: #353430;
  --background-img: url(../images/cover-image-light.png);
  --background-color: #fff1f7; /* Цвет фона */
  --border-button: rgba(53,52,48, 0.4);
}
